* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --line-height: 52px;
    --btn-color: #212832;
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: calc(var(--line-height) - 2px);
    min-width: 113px;
    border-radius: 6px;
    background: var(--btn-color);
    border: 1px solid var(--btn-color);
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-top: 20px;
}

.section-label {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.section-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

/* Header */
.header {
    background: #fff;
}

.header-fixed {
    position: sticky;
    top: -30px;
    z-index: 3;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 42px 0 12px;
}

.navbar {
    margin-left: 47px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar-item__link {
    display: block;
    margin: 0 23.5px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */ /* 175% */
    transition: 0.2s;
}

.header-action {
    margin-left: auto;
}

.navbar-item__link:hover,
.navbar-item__link--active {
    position: relative;
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar-item__link--active::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    inset: auto 0 0 0;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    display: inline-block;
    padding: 12px 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

/* Hero */

.hero {
    margin-top: 64px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__heading {
    width: 500px;
    margin-top: 12px;
}

.hero-content__heading--custom {
    color: #7264d6;
}

.hero-content__desc {
    width: 540px;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 8px;
    margin-top: 40px;
    padding: 8px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form:has(:invalid:not(:placeholder-shown))::after {
    display: inline-block;
}

.hero-form::after {
    position: absolute;
    content: "Vui lòng nhập đúng email";
    display: none;
    left: 8px;
    bottom: -26px;
    color: #ff0000;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.hero-form__input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero-form__submit {
    --line-height: 58px;
    --btn-color: #7264d6;
    flex-shrink: 0;
    border-radius: 8px;
    min-width: 149px;
}

.hero-form:has(:invalid) .hero-form__submit {
    opacity: 0.5;
    pointer-events: none;
}

.hero-content__ps {
    margin-top: 25px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero-media {
    position: relative;
}

.hero-media__thumb {
    height: 562px;
}

.hero-media__img {
    height: 100%;
}

.hero-media__inner {
    position: relative;
    margin-right: 174px;
}

.hero-media__card-deposite {
    position: absolute;
    display: flex;
    align-items: center;
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-media__deposite-icon {
    color: #8376e2;
    margin-right: 8px;
}

.hero-media__deposite {
    margin-right: 19px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-media__deposite-money {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero-media__card-secured {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 61px;
    right: -74px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-media__secured-icon {
    color: #439f90;
    margin-right: 11px;
}

.hero-media__secured-money {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-media__secured {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero-media__card-interest {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
}

.hero-media__interest-percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-media__interest {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
}

/* Work */

.work {
    margin-top: 40px;
    padding: 120px 0 40px;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-media {
    position: relative;
}

.work-media__img-wrap {
    position: relative;
    height: 619px;
}

.work-media__img-wrap::after {
    position: absolute;
    content: url(../svg/work-svg-1.svg);
    left: 0;
    bottom: -2.5px;
}

.work-media__img-wrap::before {
    position: absolute;
    content: url(../icon/work-icon-1.svg);
    top: 76px;
    right: 62px;
    z-index: 1;
}

.work-media__img {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 7px;
    z-index: 1;
}

.work-media__activated-card {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    bottom: 95px;
    right: -100px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    z-index: 2;
}

.work-media__activated-icon,
.work-media__activated-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-media__activated-icon {
    --color-icon: #4ab5e3;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    color: var(--color-icon);
    background: var(--color-icon);
}

.work-media__activated-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.work-media__activated-body {
    font-family: "Inter", sans-serif;
    padding-right: 15px;
}

.work-media__activated-title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}

.work-media__activated-desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}

.work-content__heading {
    margin-top: 12px;
    font-size: 4rem;
    line-height: 1.25; /* 125% */
}

.work-content__list {
    margin-top: 70px;
    width: 470px;
}

.work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.work-item__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* Feature */

.feature {
    padding: 120px 0 40px;
}

.feature__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 160px;
    align-items: center;
    justify-content: space-between;
}

.feature-content {
    width: 470px;
}

.feature-content__heading {
    margin-top: 12px;
    font-size: 4rem;
    line-height: 1.25; /* 125% */
}

.feature-content__list {
    margin-top: 28px;
}

.feature-item__title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.feature-item__title::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature-content__btn-cta {
    margin-top: 38px;
    --line-height: 58px;
    min-width: 149px;
    border-radius: 8px;
}

.feature-media {
    position: relative;
}

.feature-media__send-money {
    font-family: "Inter", sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 14px;
    top: -48px;
    right: 0;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-media__send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: #da6464;
    background: #fbf0f0;
    box-shadow: 4px 2px 16px 0px #88a5bf7a;
    box-shadow: -4px -2px 16px 0px #ffffff;
}

.feature-media__send-body__title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.feature-media__send-body__desc {
    margin-top: 4px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

.feature-media__send-price {
    margin-left: 53px;
    text-align: right;
}

.feature-media__send-price__title {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
}

.feature-media__send-price__desc {
    margin-top: 3px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

.feature-media__img-wrap {
    margin-left: 15px;
}

.feature-media__income-card {
    --color-income-card: #439f90;
    position: absolute;
    bottom: -55px;
    right: 0;
    padding: 15px 53px 15px 15px;
    border-radius: 16px;
    color: var(--color-income-card);
    background: var(--color-income-card);
}

.feature-media__income-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.feature-media__income-title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.35;
}

.feature-media__income-price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
}
.feature-media-inner {
    position: relative;
    width: 470px;
}
.feature-media__img-wrap--bottom {
    position: relative;
    height: 600px;
}

.feature-media__img-wrap--bottom::after {
    position: absolute;
    content: url(../svg/feature-svg-2.svg);
    inset: auto 0 -2.5px 0;
}

.feature-media__img--bottom {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 28px;
    z-index: 1;
}

.feature-media__choose-card {
    position: absolute;
    bottom: 57px;
    right: -74px;
    z-index: 1;
    padding: 28px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 44px 48px 0px #0000001a;
}

.feature-media__choose-title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.choose-item__icon-wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.feature-media__money-icon-wrap,
.choose-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-item__icon {
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
    transition: 0.2s;
}

.choose-item__icon:last-child {
    background: #f9ea63;
}

.choose-item__icon:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.feature-media__money-icon-wrap {
    position: absolute;
    top: -35px;
    right: -26px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

.feature-content-bottom {
    margin-left: auto;
}
