* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --line-height: 52px;
    --btn-color: #212832;
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: calc(var(--line-height) - 2px);
    min-width: 113px;
    border-radius: 6px;
    background: var(--btn-color);
    border: 1px solid var(--btn-color);
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #212832;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-top: 20px;
}

/* Header */
.header {
    background: #fff;
}

.header-fixed {
    position: sticky;
    top: -30px;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 42px 0 12px;
}

.navbar {
    margin-left: 47px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar-item__link {
    display: block;
    margin: 0 23.5px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */ /* 175% */
    transition: 0.2s;
}

.header-action {
    margin-left: auto;
}

.navbar-item__link:hover,
.navbar-item__link--active {
    position: relative;
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar-item__link--active::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    inset: auto 0 0 0;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    display: inline-block;
    padding: 12px 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

/* Hero */

.hero__inner {
    display: flex;
}

.hero-content__label {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero-content__label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero-content__heading {
    width: 500px;
}

.hero-content__heading--custom {
    color: #7264d6;
}

.hero-content__desc {
    width: 540px;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 40px;
    padding: 8px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero-form__submit {
    --line-height: 58px;
    --btn-color: #7264d6;
    flex-shrink: 0;
    border-radius: 8px;
    min-width: 149px;
}

.hero-content__ps {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero-media__thumb {
    height: 562px;
}

.hero-media__img {
    height: 100%;
}
